header {
    height: 50px;
    background-color: rgb(30,30,30);
    display: flex;
    flex-direction: row;
    box-shadow: 0px 1px 4px black;
    z-index: 10;
    position: sticky;
    top:0;
}

header > div {
    padding: 5px;
    display: flex;
    align-items: center;
}

header > div > a {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.2);
    border: 2px solid rgba(0,0,0,0);
    text-decoration: none;
    transition: .3s;
    color: white;
    box-shadow: 2px 2px rgba(0,0,0,0.5);
}

header > div > a:hover {
    background-color: rgba(0,0,0,0.5);
    border: 2px solid rgba(108, 0, 134, 0.7);
    color: rgba(108, 0, 134, 0.7);
    box-shadow: 2px 2px black;
}

header > div:first-child {
    flex-grow:1;
}

header > div:last-child {
    min-width: 100px;
}

.headerBasket {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.headerBasket .headerBasketCounter {
    position: absolute;
    background-color: orange;
    border-radius:5px;
    padding:2px;
    height:50%;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    left:0;
    transform: translateX(-30%) translateY(30%);
    transition: .3s;
}

.headerBasket:hover .headerBasketCounter {
    opacity: .7;
}